%btn {
    display: inline-flex;
    color: darken($gray-100, 50);
    background-color: darken($gray-200, 2.5);

    &:hover,
    &:focus {
        box-shadow: 0 em(5) em(5) em(-4) darken($gray-100, 25);
        transform: translatey(em(-2));
        transition: all 300ms ease-in-out;
    }
}

.btn-social {
    @extend %btn;
    padding: em(14);
    border-radius: 50%;

    &:not(:last-child) {
        margin-right: em(8);
    }

    svg {
        width: em(14);
        height: em(14);
    }
}

.btn-pill {
    @extend %btn;
    justify-content: center;
    font-size: em(16);
    font-weight: 500;
    padding: em(16) em(40);
    border-radius: 500px;

    svg {
        width: em(16);
        height: em(16);
        margin-right: em(8);
    }
}

.btn-md {
    font-size: em(14);
}

.btn-sm {
    font-size: em(12);
}

.btn-highlited {
    background-color: $secondary-color;
    color: $gray-100;

    &:hover,
    &:focus {
        box-shadow: 0 em(5) em(5) em(-4) darken($secondary-color, 15);
    }
}

.header-buttons {
    display: flex;
    justify-content: center;

    .btn-pill:first-child {
        margin-right: em(8);
    }
}

.project-buttons {
    display: flex;
    justify-content: flex-start;

    .btn-pill:first-child {
        margin-right: em(8);
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: em(64);
}