html {
    font-size: 1em;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    background-color: $bg-color;
    color: $primary-color;
}

h1,h2,h3,h4,h5,h6,p,input,a,span,textarea {
    font-weight: 300;
}

h1 {
    font-size: em(32);
}

h2 {
    font-size: em(24);
}

h3 {
    font-size: em(20);
    font-weight: 500;
}

h4 {
    font-size: em(14);
    font-weight: 500;
}

img {
    image-rendering: optimizeQuality;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        outline: none;
    }
}

input, textarea, button {
    background: none;
    border: none;
    font-family: inherit;
}

textarea {
    resize: none;
}

b {
    font-weight: 500;
}

.container {
    width: 80%;
}