// --- // Header // --- //

header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header {
    text-align: center;

    h2 {
        margin: em(16,32) 0 em(32,32) 0;
    }
}

.hand {
    display: inline-flex;
    animation: 0.5s ease-in 2 wave;
    transform-origin: 100% 100%;
    transition: transform 250ms ease-in-out;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

// --- // Main // --- //

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// --- // Portfolio // --- //

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: em(160) 0;
}

.portfolio-header {
    text-align: center;
    margin-bottom: em(75);

    h2 {
        font-weight: 500;
        margin-bottom: em(8,24);
    }

    p {
        font-size: em(20);
    }
}

.project-card {
    width: 100%;
    display: flex;

    > * {
        width: 50%;
    }

    &:not(:last-child) {
        margin-bottom: em(160);
    }

    &:nth-of-type(2n) {
        .project-img {
            order: 2;
        }
        .project-content {
            order: 1;
            text-align: right;
        }
        .project-buttons {
            justify-content: flex-end;
        }
    }
}

.project-img,
.project-content {
    padding: 0 em(48);
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin-bottom: em(16,20);
    }

    h4 {
        margin: em(16,14) 0;
    }

    p {
        line-height: 1.5;
    }
}

.project-img img {
    width: 100%;
    height: auto;
    box-shadow: 0 em(16) em(16) em(-12) $gray-300;
}

// --- // About // --- //

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh 0;
}

.about-header {
    text-align: center;

    h2 {
        font-weight: 500;
        margin-bottom: em(8,24);
    }

    p {
        font-size: em(20);
    }
}

.about-content {
    width: 75%;
    display: flex;
    flex-direction: column;

    p {
        line-height: 1.5;
        text-align: center;
        margin: em(32) 0 em(24) 0;
    }
}

.about-buttons {
    text-align: center;
}

// --- // Contact // --- //

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh 0;
}

.contact-header {
    text-align: center;
    margin-bottom: em(32);

    h2 {
        font-weight: 500;
        margin-bottom: em(8,24);
    }

    p {
        font-size: em(20);
    }
}

.contact-content {
    width: 60%;
    text-align: center;

    > a {
        display: inline-flex;
        font-weight: 500;
    }
}

// --- // Footer // --- //

footer p {
    text-align: center;
    padding: em(32) 0;
}