@media (max-width: 1280px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 80%;
	}

	.main-header {
		padding: 0 em(32);
	}

	.project-card {
		flex-direction: column;
		align-items: center;

		> * {
			width: 80%;
		}

		&:nth-of-type(2n) {
			.project-img {
				order: 1;
			}
			.project-content {
				order: 2;
				text-align: center;
			}
			.project-buttons {
				justify-content: center;
			}
		}
	}

	.project-img {
		margin-bottom: em(64);
	}

	.project-content {
		text-align: center;

		h4 {
			margin: em(20) 0;
		}
	}

	.project-buttons {
		justify-content: center;
	}

	.about-content {
		width: 90%;
	}
}

@media (max-width: 768px) {
	.main-header {
		font-size: 90%;
	}

	.portfolio-header,
	.about-header,
	.contact-header {
		line-height: 1.25;
	}

	.project-img {
		margin-bottom: em(16);
	}

	.project-img,
	.project-content {
		padding: em(16);
	}

	.scroll-top {
		bottom: em(24);
		right: em(24);
	}
}

@media (max-width: 512px) {
	.main-header {
		font-size: 80%;
	}

	.project-card > * {
		width: 100%;
	}
}

@media (max-width: 426px) {
	.header-buttons {
		flex-direction: column;
		align-items: center;

		.btn-pill {
			width: em(200);
		}

		.btn-pill:first-child {
			margin-right: 0;
			margin-bottom: em(16);
		}
	}

	.portfolio,
	.about {
		padding: 15vh 0;
	}

	.project-card {
		> * {
			width: 100%;
		}
	}

	.project-buttons {
		.btn-pill:first-child {
			margin-right: em(12);
		}
	}

	.copyright p {
		display: block;

		&:first-child {
			margin-bottom: em(8);
		}

		&:nth-child(2) {
			display: none;
		}
	}

	.scroll-top {
		bottom: em(16);
		right: em(16);
	}
}
